#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px;
  text-align: center;
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Apply styles to body */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  min-height: 100vh; /* Full screen height */
}